# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/schedexpress"

# JWT
JWT_SECRET="schedexpress-jwt-secret-2025"
JWT_EXPIRES_IN="1d"

# API Configuration
PORT=3001
API_GLOBAL_PREFIX="/api"


GOOGLE_CLIENT_ID=107572968447068619162
GOOGLE_CLIENT_SECRET=your-client-secret
GOOGLE_REDIRECT_URI=http://localhost:3001/auth/google/callback
GOOGLE_SERVICE_ACCOUNT_EMAIL=sched-service-acct@sched-email-service.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour Private Key Here\n-----END PRIVATE KEY-----"
GOOGLE_REFRESH_TOKEN=your-refresh-token
